fastapi
uvicorn
langchain
langchain-community
langchain-chroma
chromadb
sentence-transformers
pypdf
python-docx
streamlit
rank-bm25
transformers
torch
python-dotenv
langchain-huggingface